.movies-card {
    background-color: rgb(31, 30, 30);
    height: 550px;
    width: 300px;
    .movies-link {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .favourite-movie {
            color: red;
            margin-top: 1.3rem;
            padding-right: 1rem;
            cursor: pointer;
        }
        .favourite-movie:hover {
            transform: scale(1.2);
            color: #ffa500;
        }
    }
    &__ratings {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        .movie-rating-icon {
            color: orange;
        }
        .movie-rating-text {
            color: #808080;
        }
    }
}

li .movies-text {
    padding: 1rem 0 0 1rem !important;
    margin-left: 30rem;
}