.movie-header {
    display: flex;
    gap: 2rem;
    @media only screen and (max-width: 811px) {
        display: block;
    }
    &__left {
        flex: 65%;
        @media only screen and (max-width: 811px) {
            flex: 100%;
        }
        .slick-next {
            right: -25px;
        }
    }
    &__right {
        flex: 33%;
        // background-color: aqua;
        height: max-content;
        h3 {
            padding-bottom: 1rem;
            color: orange;
            @media only screen and (max-width: 811px) {
                display: none;
            }
        }
    }
    &__right-side {
        // background-color: rgb(34, 34, 34);
        @media only screen and (max-width: 811px) {
            display: none;
        }
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // align-items: center;
        & u {
            margin: 0;
            padding: 0;
        }
        .check {
            font-size: 1.5rem;
        }
    }
}

.carousel {
    display: flex;
    justify-content: center;
}

// .carousel .slide {
//     // height: 90vh;
// }
// .carousel .slide img {
//     max-height: 100%;
//     width: auto;
// }
.image {
    margin: 0 auto;
    height: 100%;
    width: auto;
}